<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="css" href="style.css">
  <title>GPT-3 Database Tool</title>
  

</head>

<body>
<!-- ***************************************** -->

  <div name="Header">
    <h1>Database Navigation Optimizer</h1>
    <h3>
      Enter plain English commands or questions and have them converted into 
      SQL queries or answers for designated database
    </h3>
  </div>

  <form method="POST" class="log-form">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="save btn btn-default">Log</button>
  </form>
</body>
</html>