{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>GPT-3 Database Tool</title>
	
<meta charset="utf-8">
<meta name="viewport" content="width=device">
<link rel="stylesheet" href="static/bootstrap/css/bootstrap.css"> 
<link rel="stylesheet" href="static/bootstrap/css/style.css">

</head>

<body>

<div onclick="location.href='/'" class="headerdiv"><h1 class="title">AI Data Lake Librarian</h1></div>
<div class="main container">
    {% block content %}

    {% endblock content %}
</div>

<script src="{% static 'bootstrap/js/jquery.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>
</html>