<!DOCTYPE html>
<html lang="en">
<head>
  <title>GPT-3 Database Tool</title>
	<style>
		body {
		  background-color: #bf776b;
		}

		h2 {
		  align-items: center;
		}
		
		div {
		  display: float;
		  align-items: center;
		}
		
		
		
		
	</style>
</head>
<!-- ***************************************** -->
<body>
	<div id="instructionBody">
	<h2 style= "text-align: center">Application Instructions</h2>
	

	<br>
	
	<h3><b>Functionality</b></h3>
	<ul>
		<li><u>Sign-In:</u> Use this button to log-in or make an account.</li>
		<br>
		<li><u>Upload Files:</u> Select database type you are utilizing and upload a .SQL file. Any other file types will result in an error and be ignored. Submit the file to the server by clicking submit.</li>
		<br>
		<li><u>User History:</u> Performs an SQL query to pull the request and output history of the user signed into the application.</li>
		<br>
		<li><u>Recent Meta:</u> Prints the meta tags affiliated with the most recent English to SQL search.</li>
		<br>
		<li><u>GPT-3 Generic Entry:</u> Enter plain text English questions or instructions to get information about the user's database, its schema and its data locations.</li>
		<br>
		<li><u>GPT-3 English to SQL Entry:</u> Enter plain text English questions or instructions about data in the user's database to generate SQL statements to obtain the desired information.</li>
	</ul>
	</div>

	
</body>
</html>