<!DOCTYPE html>
<html lang="en">
<head>
  <title>GPT-3 Database Tool</title>
 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<style>
tr:hover{
	background-color: #77e5be;
}

td:hover{
	color:white;
}
</style>
<script>
function exportData(){
    /* Get the HTML data using Element by Id */
    var table = document.getElementById("userHistory");
 
    /* Declaring array variable */
    var rows =[];
 
      //iterate through rows of table
    for(var i=0,row; row = table.rows[i];i++){
        //rows would be accessed using the "row" variable assigned in the for loop
        //Get each cell value/column from the row
        column1 = row.cells[0].innerText;
        column2 = row.cells[1].innerText;
        column3 = row.cells[2].innerText;
        column4 = row.cells[3].innerText;
 
    /* add a new records in the array */
        rows.push(
            [
                column1,
                column2,
                column3,
                column4
            ]
        );
 
        }
        csvContent = "data:text/csv;charset=utf-8,";
         /* add the column delimiter as comma(,) and each row splitted by new line character (\n) */
        rows.forEach(function(rowArray){
            row = rowArray.join(",");
            csvContent += row + "\r\n";
        });
 
        /* create a hidden <a> DOM node and set its download attribute */
        var encodedUri = encodeURI(csvContent);
        var link = document.createElement("a");
        link.setAttribute("href", encodedUri);
        link.setAttribute("download", ".csv");
        document.body.appendChild(link);
        link.click();
}
</script>


	
</head>
<!-- ***************************************** -->


<body>
<div>
	  
  	<h3><u>Output</u></h3>
	<div id="outputArea">
	
		{{ gpt_output }}
		
		{{ recent_meta_output }}
		
		{% if user_history_list %}
	  		<table id="userHistory">
            <thead>
            <tr>
              <th>User Input</th>
              <th>Trained Input</th>
              <th>GPT Output</th>
              <th>Date and Time</th>
            </tr>
            </thead>
            <tbody>
            {% for item in user_history_list %}
              <tr>
                <td>{{ item.userInput }}</td>
                <td>{{ item.trainedInput }}</td>
                <td>{{ item.gptOutput }}</td>
                <td>{{ item.requestDateTime }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
		  

			<button onclick="exportData()">
			   <span class="glyphicon glyphicon-download"></span>
			   Download list
			</button>
        {% endif %}

	</div>
</div>


<!-- ***************************************** -->
</body>
</html>